.title{
    font-family: "Roboto Mono", monospace;
    background-color: ghostwhite;
    padding: 50px;
}
.members-section {
    background-color: grey;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.members li {
    margin: 15px;
}

.member {
    position: relative;
    width: 150px;
    height: 150px;
}

.member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.member span {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 0 0 10% 10%;
}

a {
    text-decoration: none;
    color: inherit;
}
