.container {
    display: flex;
    flex-direction: column;
}

.menu {
    background-color: rgba(14, 14, 14, 0.8);
    /* Semi-transparent background */
    color: white;
    padding: 40px;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 130px;
    z-index: 1000;
    cursor: pointer;
}

.menugo {
    transform: translateX(-100%);
}

.menu a,
.dropdown-boiss {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.menu a:hover,
.dropdown-boiss:hover {
    color: rgb(15, 16, 16);
}

.boiis {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    padding-left: 8px;
}

.boiis a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
}

.boiis a:hover {
    color: rgb(15, 16, 16);
}

.boiis.show {
    max-height: 1000px; /* Arbitrary large value to ensure the content is fully visible */
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    background-color: ghostwhite;
    padding: 100px;
    margin-top: 80px;
    /* Space for fixed menu */
}

.members-section {
    background-color: grey;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.members {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.members li {
    margin: 15px;
    transition: transform 0.3s ease-in-out;
    /* Add transition for member items */
}

.member {
    position: relative;
    padding: 100px;
    transition: transform 0.3s ease-in-out;
    /* Add transition for member containers */
}

.member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.member span {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 0 0 10% 10%;
}

.members li:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    /* Ensure smooth transition on hover */
}

a {
    text-decoration: none;
    color: inherit;
}

.footer {
    background-color: bisque;
}

.hamburger {
    position: fixed;
    cursor: pointer;
    top: 10px;
    left: 20px;
    z-index: 1001;
    /* Ensure the hamburger is always on top */
}

.ham {
    display: block;
}