.main{
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(67, 67, 67, 1) 100%);
}

.main h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 6%;
    border: 1px solid black;
    font-size: 2em;
}

.profile-info {
    display: flex;
    align-items: flex-start;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(67, 67, 67, 1) 100%);
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 0 12px #1b1b1b;
    flex-wrap: wrap;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-info-img {
    height: auto;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 0 3px #0a0a0a;
}

.desc {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(67, 67, 67, 1) 100%);
    padding: 20px;
    color: white;
    font-size: 1.2em;
    font-style: italic;
    border-radius: 10px;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    margin: 20px;
    position: relative;
    min-height: 300px;
    max-height: 1010px;
    width: 80%;
    max-width: 500px;
}

.social-links {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    padding: 20px;
    position: relative;
}

.social-links .text {
    font-size: medium;
    margin-bottom: 10px;
}

.social-links .media {
    display: flex;
}

.social-links img.icons {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.social-links a {
    transition: transform 0.3s ease-in-out;
}

.social-links a:hover {
    transform: scale(1.1);
}

@media (min-width: 769px) {
    .profile-details {
        flex-direction: row;
        align-items: flex-start;
    }

    .profile-info-img {
        margin-bottom: 0;
        margin-right: 20px;
        width: 25vw;
        max-width: 500px;
    }

    .desc {
        margin: 20px;
        min-width: 380px;
        width: auto;
    }
}